/.idea/
/.scannerwork/
/.swc/
/.vscode/
/.wireit/
/dist/
/lib/
/node_modules/
/tmp/

/deploy/fly/fly.toml
/deploy/rpi/.buildkitd.toml

.npm/
.envrc
.env.*
!.env.test
.swc/

tsconfig.tsbuildinfo
.tmp_*
